
body {
    margin: 0; 
    padding: 0; 
    background-color: #99e1fd;   
}

h1 {
    margin-top: 50px;
    font-family: Brush Script MT, Brush Script Std, cursive;
    text-align: center; 
    color: #fff;
    font-size: 60px;
}

#recommendations {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.book {
    width: 300px;
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.book img {
    width: 100%;
    border-radius: 7px;
}

.book h3 {
    color: #333;
    font-size: 28px;
    margin-top: 10px;
}

.book p {
    color: #666;
    font-size: 20px;
    margin-top: 10px;
}

.btn {
    margin: auto;
    display: block;
    height: 30px;
    width: 80px;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
    margin-top: 20px;
}

.button {
    margin: auto;
    display: block;
    background-color: #4ba9d4;
    text-align: center;
    color: #fff;
    border: none;
    width: 100px;
    height: 30px;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
}

.button:hover {
    background-color: #ffe74d;
}
