<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sorry!</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='error_styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Sorry!</h1>
        <p>Unfortunately, we don't currently offer a feature</p>
        <p>for capturing your mood.</p>
        <p>However, thank you for sharing your ideas!</p>
        <p>It will certainly contribute to enhancing</p>
        <p>our website in the future. :3</p>
        <a href="/" class="btn">Go back</a>
    </div>
</body>
</html>